<html>
    <head>
        <title>Sample Page</title>
        <style>
            table, th, td{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>Table of App and their Log time</h1>

        <table>
            <tr>
                <th>App</th>
                <th>Time</th>
            </tr>
        
            <tr>
                <td>aseprite.exe</td>
                <td>70.48476457595825</td>
            </tr>
            
            <tr>
                <td>blender.exe</td>
                <td>52.698832988739014</td>
            </tr>
            
            <tr>
                <td>godot_v4.6-stable_win64.exe</td>
                <td>51.713603019714355</td>
            </tr>
            
        </table>

    </body>
</html>